.container {
  margin-left: auto;
  margin-right: auto;
}

.nav-link {
  font-family: poppins medium;
  color: #40000d;
}
.nav-link:focus,
.nav-link:hover {
  color: #d1c5fa;
}
.nav a {
  display: grid;
  align-content: flex-end;
}

.mb-4 {
  margin-bottom: 1.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

body {
  margin: 20px;
}
#bannerAnimation {
  border-top: solid purple 2px;
  border-bottom: solid purple 2px;
  margin-bottom: 22px;
}
.marquee {
  height: 25px;
  width: fit-content;

  overflow: hidden;
  position: relative;
}

.marquee div {
  width: 500%;
  height: 100px;
  position: absolute;
  overflow: hidden;
  animation: marquee 80s linear infinite;
}

.marquee span {
  float: left;
  width: 50%;
  color: palevioletred;
}

@keyframes marquee {
  100% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/*Desktop*/
@media (min-width: 992px) {
}
/*iPad*/
@media (min-width: 700px) {
}
